@import 'tailwindcss';

:root {
  --bg-color: #fff;
  --text-color: #121417;

  /* scrollbar-gutter: stable; */
}

@theme {
  --color-yellow: #f4c550;
  --color-lightYellow: #fbe9ba;
  --color-greyGreen: #9fbaae;
  --color-lightGreen: #cbded3;
  --color-blueGrey: #9fb7ce;
  --color-lightBlue: #bfd6ea;
  --color-peach: #e0a39a;
  --color-lightPeach: #f2c0bd;
  --color-coral: #f0aa8d;
  --color-palePink: #f4c8ba;
  --color-secondary: #ffdc86;
  --color-white: #ffffff;
  --color-black: #121417;
  --color-textColor: rgba(18, 20, 23, 0.8);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

@layer utilities {
  .animate-slide-in {
    animation: slide-in 250ms ease-out forwards;
  }

  .animate-slide-out {
    animation: slide-out 250ms ease-in forwards;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}
