@import 'tailwindcss';

:root {
  --bg-color: #fff;
  --text-color: #121417;

  scrollbar-gutter: stable;
}

@theme {
  --color-yellow: #f4c550;
  --color-lightYellow: #fbe9ba;
  --color-greyGreen: #9fbaae;
  --color-lightGreen: #cbded3;
  --color-blueGrey: #9fb7ce;
  --color-lightBlue: #bfd6ea;
  --color-peach: #e0a39a;
  --color-lightPeach: #f2c0bd;
  --color-coral: #f0aa8d;
  --color-palePink: #f4c8ba;
  --color-secondary: #ffdc86;
  --color-white: #ffffff;
  --color-black: #121417;
  --color-textColor: rgba(18, 20, 23, 0.8);
  --color-blackLight: rgba(18, 20, 23, 0.2);
  --color-bgGrey: #f8f8f8;
  --color-lightGrey: #8a8a89;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.25;
}

button,
input,
a {
  outline: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@layer utilities {
  .animate-slide-in {
    animation: slide-in 250ms ease-out forwards;
  }

  .animate-slide-out {
    animation: slide-out 250ms ease-in forwards;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}
